@using YoYoTest.Business.Athletes

@model AthletesVm

    <div class="container-fluid">
        <div class="row yo-pt-20">
            <div class="col text-center">
                <h4>Athletes</h4>
            </div>
        </div>
        <partial name="_AthletesResults" model="@Model" />
    </div>